<div id="users">
<h1>ユーザー一覧画面</h1>


<table class="table table-striped">
	<tr>
		<th>名前</th>
		<th>自己紹介文</th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<th><%= user.name %></th>
		<th><%= user.introduction %></th>
		<th><%= link_to "show", user_path(user) %></th>
	</tr>
	<% end %>
</table>
</div>