<h1>ユーザー一覧画面</h1>

	<% @users.each do |user| %>
		<%= link_to user_path(user) do %>
			<div id="users">
				<div class="profile-image"><%= attachment_image_tag user, :profile_image, :fill, 60,60,:class => 'img-circle', fallback: "no_image.jpg" %></div>
				<div class="user-name">
					<%= user.name %><br>
					<%= user.introduction %>
				</div>
			</div>
		<% end %>
	<% end %>