// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
    width: 50%;
    margin: 20px auto;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background-color: #62F1BC;
    border-radius: 10px;/*角の丸み*/
    padding: 5px;
}