// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ここからindex //
#users {
	width: 45%;
	height: 180px;
	float: left;
	margin: 25px 0 0 5%;
	border: 2px solid #FFF;
	background-color: #FFF;
	border-radius: 10%;

	.profile-image {
		text-align: center;
		width: 100%;
	}

	.user-name {
		text-align: center;
	}
}


// ここからshow //
#users-show {
	width: 60%;
	margin: 0 auto;
}

//　ここからレスポンシブ //
@media screen and (max-width:425px) {
	#users {
		width: 100%;
	}
}